<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.mega.mvc08.MemberDTO" alias="memberDTO"></typeAlias>
		<typeAlias type="com.mega.mvc08.BbsDTO" alias="bbsDTO"></typeAlias>
		<typeAlias type="com.mega.mvc08.CommentDTO" alias="commentDTO"></typeAlias>
		<typeAlias type="com.mega.mvc08.ProductDTO" alias="productDTO"></typeAlias>
		
	</typeAliases>
	<mappers>
		<mapper resource="mapper/memberMapper.xml"/>
		<mapper resource="mapper/bbsMapper.xml"/>
		<mapper resource="mapper/commentMapper.xml"/>
		<mapper resource="mapper/productMapper.xml"/>
	</mappers>
</configuration>
